h3{
    color: blue;
    background-color: black;
    font-size: 24px;
}
#id{
    color: darkblue;
    background-color:white;
    font-size: 36px;
}
.class{
    color: aqua;
    background-color: black;
    font-size: 24px;

}






